# Project 1 Data Exploration
Alex
Claire
Steve
Sylvia

This project explores data analysis of cryptocurrencies.

In [23]:
import os
from dotenv import load_dotenv
from pathlib import Path
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import pandas as pd

## Import data

In [30]:
filepath=Path("Resources/BTC_c_.csv")

BTC_data = pd.read_csv(filepath, index_col="Date", parse_dates=True)
print(BTC_data.dtypes)


#BTC_data['Date'] = pd.to_datetime(BTC_data['Date'])

#print(BTC_data.dtypes)
BTC_data

BTCUSD    float64
dtype: object

              BTCUSD
Date
2015-11-19    326.41
2015-11-20    322.39
2015-11-21    327.00
2015-11-22    323.71
2015-11-23    323.00
...              ...
2021-09-26  43228.50
2021-09-27  42171.70
2021-09-28  41049.00
2021-09-29  41522.10
2021-09-30  43824.40

[2143 rows x 1 columns]

In [31]:


filepath=Path("Resources/ETH_c_.csv")
ETH_data = pd.read_csv(filepath, index_col="Date", parse_dates=True)
#ETH_data['Date'] = pd.to_datetime(ETH_data['Date'], 
print(ETH_data.dtypes)
ETH_data

ETHUSD    float64
dtype: object

             ETHUSD
Date
2016-10-14    11.92
2016-10-15    11.95
2016-10-16    11.95
2016-10-17    11.96
2016-10-18    12.54
...             ...
2021-09-26  3064.64
2021-09-27  2927.15
2021-09-28  2807.19
2021-09-29  2848.28
2021-09-30  3000.45

[1813 rows x 1 columns]

In [32]:
merged_BTCETH = pd.merge(BTC_data, ETH_data, on=["Date"])

In [33]:
merged_BTCETH.head

<bound method NDFrame.head of               BTCUSD   ETHUSD
Date
2016-10-14    638.03    11.92
2016-10-15    638.16    11.95
2016-10-16    641.92    11.95
2016-10-17    639.56    11.96
2016-10-18    635.11    12.54
...              ...      ...
2021-09-26  43228.50  3064.64
2021-09-27  42171.70  2927.15
2021-09-28  41049.00  2807.19
2021-09-29  41522.10  2848.28
2021-09-30  43824.40  3000.45

[1813 rows x 2 columns]>

In [34]:
merged_BTCETH.dtypes

BTCUSD    float64
ETHUSD    float64
dtype: object

In [35]:
# Save the dataframe as a csv file to use in the Analysis notebook
new_filepath=Path("Resources/Proj_One_Data.csv")
merged_BTCETH.to_csv(new_filepath, encoding='utf-8')